<!-- https://stack.jimmycai.com/config/header-footer#example-custom-font-family-for-article-content -->
<style>
  :root {
      --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
      --zh-font-family: "Chiron Hei HK WS", "Noto Sans TC", "PingFang TC", "Droid Sans Fallback", "Microsoft JhengHei";

      --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
      --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;

      --article-font-family: "Chiron Sung HK WS", "Noto Serif TC", var(--base-font-family);
  }
</style>

<script>
  (function () {
      const cssLinks = [
          "https://cdn.jsdelivr.net/npm/chiron-hei-hk-webfont/css/vf.min.css",
          "https://cdn.jsdelivr.net/npm/chiron-hei-hk-webfont/css/vf-italic.min.css",
          "https://cdn.jsdelivr.net/npm/chiron-sung-hk-webfont/css/vf.min.css",
          "https://cdn.jsdelivr.net/npm/chiron-sung-hk-webfont/css/vf-italic.min.css"
      ];

      cssLinks.forEach((url) => {
          const customFont = document.createElement('link');
          customFont.href = url;

          customFont.type = "text/css";
          customFont.rel = "stylesheet";

          document.head.appendChild(customFont);
      })
  }());
</script>
