<!-- https://stack.jimmycai.com/config/header-footer#example-custom-font-family-for-article-content -->
<style>
  :root {
      --sys-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
      --sys-serif: ui-serif, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
      --sys-mono: ui-monospace, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

      --base-font-family: "Chiron Hei HK VF", "Chiron Hei HK WS", open-arrow, var(--sys-sans);
      --article-font-family: "Chiron Sung HK VF", "Chiron Sung HK WS", var(--sys-serif);
      --code-font-family: "Victor Mono", "Chiron Sung HK VF", "Chiron Sung HK WS", var(--sys-mono);
  }
</style>

<script>
  (function () {
      const cssLinks = [
          "/ext/chiron-hei-hk-webfont@2.5.18/css/vf-italic.css",
          "/ext/chiron-hei-hk-webfont@2.5.18/css/vf.css",
          "/ext/chiron-sung-hk-webfont@1.0.14/css/vf-italic.css",
          "/ext/chiron-sung-hk-webfont@1.0.14/css/vf.css",
          "/ext/open-arrow@1.1.0/index.css",
          "/ext/victormono@1.5.6/index.css"
      ];

      cssLinks.forEach((url) => {
          const customFont = document.createElement('link');
          customFont.href = url;

          customFont.type = "text/css";
          customFont.rel = "stylesheet";

          document.head.appendChild(customFont);
      });
  }());
</script>
